fastapi>=0.103.1,<0.104.0
uvicorn>=0.23.2,<0.24.0
sqlalchemy>=2.0.21,<2.1.0
psycopg2-binary>=2.9.7,<2.10.0
alembic>=1.12.0,<1.13.0
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
redis
aioboto3